{% extends "admin/template.twig" %}
{% block content %}

<div>
	<ol class="breadcrumb">
		<li><a href="{{ path( 'admin/dashboard' ) }}">Dashboard</a></li>
		<li class="active">Posts</li>
	</ol>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">Posts</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>ID</th>
						<th>TITLE</th>
						<th>EDIT</th>
						<th>DELETE</th>
					</tr>
					{% for post in posts %}
						<tr>
							<td>{{ post.id }}</td>
							<td>{{ post.title }}</td>
							<td><a class="btn btn-primary" href="{{ path( 'admin/posts/update', { 'id': post.id }) }}">Editar</a></td>
							<td>
								<form action="{{ path( 'admin/posts/delete' ) }}" method="post">
									<input type="hidden" name="post_id" value="{{ post.id }}">
									<input class="btn btn-danger" type="submit" value="Borrar">
								</form>
							</td>
						</tr>
					{% else %}
						<tr><td colspan="4">No hay comentarios</td></tr>
					{% endfor %}
				</table>
				<div class="pagination-table">
					<ul class="pagination">
						<li class="prev {% if page == 1 %}disabled{% endif %}"><a href="{{ path('admin/posts/read', { 'page': page - 1 }) }}">Anterior</a></li>
						<li class="next"><a href="{{ path( 'admin/posts/read', { 'page': page + 1 }) }}">Siguiente</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-footer">
				Mostrando {{ posts|length }} registros
			</div>
		</div>
	</div>
</div>


{% endblock %}